<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Be Patient
    </ion-title>
    <ion-buttons slot="start" *ngIf="!navigation.welcomeView">
      <ion-back-button defaultHref="home" (click)="navigation.closeWelcome()"></ion-back-button>
    </ion-buttons>  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <app-welcome class="welcome-cont" *ngIf="this.navigation.welcomeView"></app-welcome>
  <div *ngIf="!navigation.welcomeView">
    <ion-searchbar [(ngModel)]="searchTerm"(ionChange)="setFilteredItems()"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of this.fliteredList" (click)="navigation.openDetails(item)">
       <ion-avatar slot="start">
       <ion-img [src]="item.thumb"></ion-img>
        </ion-avatar>
        <ion-label>
         {{item.title}} 
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="5%" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="chargement...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>